In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Import of internal data.
CarList = pd.read_csv('CarList_all.csv', dtype = {'nv_uc':str, 'id':str, 'date_in':str, 'date_out_theor':str, 'date_out':str, 'mileage':int, 'source':str })

In [ ]:
# A file with dummy data has been created to show the template of the internal data file.
# License plates in that file will not match any of the official database field, so the file itself cannot be used to
# simulate the notebook.
# File is : CarList_all_dummies.csv

In [ ]:
CarList.head()

In [ ]:
CarList['id'] = CarList['id'].str.replace('-','')
CarList['date_in'] = pd.to_datetime(CarList['date_in'], errors='coerce')
CarList['date_out'] = pd.to_datetime(CarList['date_out'], errors='coerce')
CarList['date_out_theor'] = pd.to_datetime(CarList['date_out_theor'], errors='coerce')

In [ ]:
CarList

In [ ]:
CarList.isna().sum()

In [ ]:
# The date_out is only filled in when the contract is actually ended. Having almost 8700 empty rows is thus not an indicator
# of bad data quality.
# I'll remove the rows with errors for the ID and date_ou_theor columns, as the numbers are not significant.
CarList = CarList.dropna(axis = 0, subset = ['id', 'date_out_theor'])
CarList.isna().sum()

In [ ]:
CarList['date_out'].describe()

In [ ]:
# I'll create a function that will select the actual end date if there is one or the thoeritical one if the
# contract is tsill running

def date_out_cleaning (row):
    if pd.isnull(row['date_out']):
        return row['date_out_theor']
    else:
        return row['date_out']

In [ ]:
CarList['date_out'] = CarList.apply(date_out_cleaning, axis=1)

In [ ]:
CarList['date_out'].describe()

We can now drop the date_out_theor column

In the end, I decide to only keep the year of the remaining date columns, to reduce the granularity of the dataset.

In [ ]:
CarList['year_in'] = CarList['date_in'].apply(lambda x: x.year)
CarList['year_out'] = CarList['date_out'].apply(lambda x: x.year)

In [ ]:
CarList = CarList.drop(['date_out_theor', 'date_in', 'date_out'], axis=1)
CarList

In [ ]:
# Import of the first set of officiql data from RDW (the one containing the official CO2 emissions figures)
rdw_1 = pd.read_csv('Open_Data_RDW__Gekentekende_voertuigen_brandstof.csv')
rdw_1

In [ ]:
rdw_1.columns = [colname.lower().replace(' ','_') for colname in rdw_1.columns]

In [ ]:
# I am only interested in a very limited number of columns.
rdw_1 = rdw_1[['kenteken', 'brandstof_omschrijving', 'co2_uitstoot_gecombineerd']]
rdw_1 = rdw_1.rename(columns={"kenteken": "id"})
rdw_1.isna().sum()

In [ ]:
# Check the number of vehicles per type of engine to see if all the NaN could be EV's for example
rdw_1['brandstof_omschrijving'].value_counts()

In [ ]:
# We see that there is more empty rows than EV's, so let's extract all rows with NaN to investigate
subset_NaN = rdw_1[rdw_1['co2_uitstoot_gecombineerd'].isna()]

In [ ]:
subset_NaN['brandstof_omschrijving'].value_counts()

In [ ]:
# We see that almost all EV's indeed have no information in the CO2 emissions, when they should just have 0.
# Same for the Waterstof vehicles, that do not emit CO2 whn driving.
# I'll create a function to indicate 0 for EV's or Waterstof

In [ ]:
def CO2_cleaning(row):
    if row['brandstof_omschrijving'] in ['Elektriciteit', 'Waterstof']:
        return 0
    else:
        return row['co2_uitstoot_gecombineerd']

In [ ]:
rdw_1['co2_uitstoot_gecombineerd'] = rdw_1.apply(CO2_cleaning, axis=1)
rdw_1.isna().sum()

In [ ]:
# We have indeed reduced the number of NaN and the remaining ones arelinked to bad data quality.
# Let's not drop those rows yet, and see if some of them would be necessary for our final dataset.

In [ ]:
CarList_rdw = pd.merge(CarList, rdw_1, on = 'id')
CarList_rdw

In [ ]:
CarList_rdw.isna().sum()

In [ ]:
# IMport of the second set of data form the RDW (including registration date)
rdw_2 = pd.read_csv('RDW_kenteken_en_datum.csv', dtype = {'Unnamed: 0':int, 'Kenteken':str, 'Voertuigsoort':str, 'Merk':str, 'Handelsbenaming':str, 'Datum eerste toelating':str})
rdw_2.columns = [colname.lower().replace(' ','_') for colname in rdw_2.columns]
rdw_2

In [ ]:
rdw_2.isna().sum()

In [ ]:
rdw_2 = rdw_2.dropna(axis = 0, subset = ['datum_eerste_toelating'])

In [ ]:
rdw_2['reg_date'] = rdw_2['datum_eerste_toelating'].apply(lambda x: str(x)[0:4]+'-'+str(x)[4:6]+'-'+str(x)[6:8])
rdw_2['reg_date'] = pd.to_datetime(rdw_2['reg_date'])
rdw_2.dtypes

In [ ]:
rdw_2 = rdw_2.rename(columns={"kenteken": "id"})
rdw_2 = rdw_2.drop('datum_eerste_toelating', axis=1)
CarList_rdw_2 = pd.merge(CarList_rdw, rdw_2, on = 'id')
CarList_rdw_2

In [ ]:
CarList_rdw_2['chan'] = CarList_rdw_2['chan'].apply(lambda x: 'G' if x == 'GP' else x)
CarList_rdw_2['chan'] = CarList_rdw_2['chan'].apply(lambda x: 'C' if x == 'Corp' else x)
CarList_rdw_2 = CarList_rdw_2.drop('unnamed:_0', axis=1)
CarList_rdw_2

In [ ]:
CarList_anonymized = CarList_rdw_2.drop('id', axis=1)
CarList_anonymized

In [ ]:
CarList_anonymized.isnull().sum()

In [ ]:
CarList_anonymized['reg_year'] = CarList_anonymized['reg_date'].apply(lambda x: x.year)
CarList_anonymized

In [ ]:
Co2_CarList = CarList_anonymized.dropna(axis=0, subset = ['co2_uitstoot_gecombineerd']).copy()
Co2_CarList_grouped = Co2_CarList.groupby(['reg_year','brandstof_omschrijving','handelsbenaming'], as_index=False).agg({'co2_uitstoot_gecombineerd':np.mean})
Co2_CarList_grouped

In [ ]:
Co2_CarList_grouped = Co2_CarList_grouped.rename(columns={'co2_uitstoot_gecombineerd':'av_CO2'})
CarList_anonymized = pd.merge(CarList_anonymized, Co2_CarList_grouped, how = 'left', on=['reg_year','brandstof_omschrijving', 'handelsbenaming'])
CarList_anonymized.isna().sum()

This level of granularity does not solve all the issues. I have to rerun a second loop with less granularity.

In [ ]:
def CO2_1(row):
    if pd.isna(row['co2_uitstoot_gecombineerd']):
        return row['av_CO2']
    else:
        return row['co2_uitstoot_gecombineerd']

In [ ]:
CarList_anonymized['intermediate_CO2'] = CarList_anonymized.apply(CO2_1, axis=1)
CarList_anonymized.head()

In [ ]:
CarList_anonymized = CarList_anonymized.drop(['co2_uitstoot_gecombineerd', 'av_CO2'], axis=1)

In [ ]:
Co2_CarList_2 = CarList_anonymized.dropna(axis=0, subset = ['intermediate_CO2']).copy()
Co2_CarList_grouped_2 = Co2_CarList_2.groupby(['reg_year','brandstof_omschrijving','merk'], as_index=False).agg({'intermediate_CO2':np.mean})
Co2_CarList_grouped_2

In [ ]:
Co2_CarList_grouped_2 = Co2_CarList_grouped_2.rename(columns={'intermediate_CO2':'av_CO2'})
CarList_anonymized = pd.merge(CarList_anonymized, Co2_CarList_grouped_2, how = 'left', on=['reg_year','brandstof_omschrijving', 'merk'])
CarList_anonymized.isna().sum()

We have solved now most of the NaN and I will drop the remaining ones.

In [ ]:
def CO2_2(row):
    if pd.isna(row['intermediate_CO2']):
        return row['av_CO2']
    else:
        return row['intermediate_CO2']

CarList_anonymized['CO2_emissions'] = CarList_anonymized.apply(CO2_2, axis=1)
CarList_anonymized = CarList_anonymized.drop(['intermediate_CO2', 'av_CO2'], axis=1)

In [ ]:
CarList_anonymized.isna().sum()

In [ ]:
CarList_anonymized = CarList_anonymized.dropna(axis = 0, subset = ['CO2_emissions', 'handelsbenaming'])

In [ ]:
CarList_anonymized.isnull().sum()

In [ ]:
CarList_anonymized

In [ ]:
CarList_anonymized = CarList_anonymized.drop(['reg_year'], axis=1)
CarList_anonymized['voertuigsoort'].value_counts()

In [ ]:
# I am suprised to see that we have financed scooters or tricycles. Let's investigate what those are.
strange_voertuigsoort = CarList_anonymized[(CarList_anonymized['voertuigsoort'] == 'Bromfiets') | (CarList_anonymized['voertuigsoort'] == 'Driewielig motorrijtuig')]
strange_voertuigsoort['handelsbenaming'].value_counts()

To make analysis clearer, I will adjust the vehicle type of those Twizy (small electric vehicle) to 'Personenauto'

In [ ]:
CarList_anonymized['voertuigsoort'] = CarList_anonymized['voertuigsoort'].apply(lambda x: 'Personenauto' if x in ['Bromfiets','Driewielig motorrijtuig'] else x)
CarList_anonymized['voertuigsoort'].value_counts()

In [ ]:
CarList_anonymized['brandstof_omschrijving'].value_counts()

In [ ]:
# Again strange results, with the "Alcohol" element.
alcohol = CarList_anonymized[(CarList_anonymized['brandstof_omschrijving'] == 'Alcohol')]
alcohol['handelsbenaming'].value_counts()

In [ ]:
# Let's consider them as Benzine, it should not really affect the averages.
CarList_anonymized['brandstof_omschrijving'] = CarList_anonymized['brandstof_omschrijving'].apply(lambda x: 'Benzine' if x == 'Alcohol' else x)
CarList_anonymized['brandstof_omschrijving'].value_counts()

#### Extport data to csv

In [ ]:
CarList_anonymized.to_csv('CarList_anonymized.csv', index=False)

#### Extport data to SQL

In [ ]:
import pymysql
from sqlalchemy import create_engine

import getpass  # To get the password without showing the input

In [ ]:
password = getpass.getpass()

In [ ]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/project_week_5'
engine = create_engine(connection_string)

In [ ]:
tablename = 'carpark'
dbconnection = engine.connect()

try:
    frame = CarList_anonymized.to_sql(tablename, dbconnection, if_exists='replace')
except ValueError as vx:
    print(vx)
except Exception as ex:
    print(ex)
else:
    print('Table %s created successfully.'%tablename)
finally:
    dbconnection.close()

## Second set of data for visualization

To be able to compare the data of our carprak with the larger market data, I will merge here the two RDW datasets. To limit the number of rows, I will at one point only select the brands I am interested in and limit the available time range (based on registration year).

In [ ]:
rdw_full = pd.merge(rdw_1, rdw_2, on = 'id')

In [ ]:
rdw_full.shape

In [ ]:
rdw_full.isna().sum()

We find back more or less the same number of contracts without CO2 figures as we had earlier isolated in our subsetNaN dataframe.

Let's check what the registration year is for those cars (if they are all old cars, it will not be necessary to do anything with those rows.)

For the full registration analysis, I will only focus on the brands we work with.

In [ ]:
rdw_full = rdw_full[rdw_full['merk'].isin(['RENAULT', 'DACIA', 'ALPINE', 'NISSAN'])]
rdw_full

In [ ]:
# Let's look at the distribution per year of registration
rdw_full['reg_year'] = rdw_full['reg_date'].apply(lambda x: x.year)
rdw_full['reg_year'].value_counts()

In [ ]:
# Let's select less years. I'll look at the data since 2000.
rdw_full = rdw_full[rdw_full['reg_year']>=2000]
rdw_full

In [ ]:
rdw_full.isna().sum()

In [ ]:
rdw_full = rdw_full.dropna(axis=0, subset=['handelsbenaming'])

We still have to handle the 53k rows without CO2 emissions. We could just drop them, as their weight on the total number of rows is not significant. But if we lok at it by year (which is our goal in the end), the weight becomes significant for some years.

I will create a subset containing only the rows with a value and calculate average on this basis. I will then use those averge amounts to fill in the NaNs.

In [ ]:
av_CO2_subset = rdw_full.dropna(axis = 0, subset = ['co2_uitstoot_gecombineerd']).copy()
av_CO2_grouped = av_CO2_subset.groupby(['reg_year','brandstof_omschrijving','handelsbenaming'], as_index=False).agg({'co2_uitstoot_gecombineerd':np.mean})
av_CO2_grouped

In [ ]:
av_CO2_grouped = av_CO2_grouped.rename(columns={'co2_uitstoot_gecombineerd':'av_CO2'})

Let's reintroduce this average CO2 in the rdw_full table.

In [ ]:
av_CO2_grouped.head()

In [ ]:
rdw_full = pd.merge(rdw_full, av_CO2_grouped, how = 'left', on=['reg_year','brandstof_omschrijving', 'handelsbenaming'])
rdw_full.head(10)

In [ ]:
rdw_full['voertuigsoort'].value_counts()

Sames as before, we'll consider the Twizy as Personenauto

In [ ]:
rdw_full['voertuigsoort'] = rdw_full['voertuigsoort'].apply(lambda x: 'Personenauto' if x in ['Bromfiets','Driewielig motorrijtuig'] else x)
rdw_full['voertuigsoort'].value_counts()

In [ ]:
rdw_full.isna().sum()

We thus still have a lot of NaN values in the av_CO2 column and need a new loop of VO2 consolidation. I will first clean the dataframe and only keep one CO2 column with the maximum of info already available.

In [ ]:
# Function to retain the orginial CO2 if available or the average one we just calculated
def CO2_final(row):
    if pd.isna(row['co2_uitstoot_gecombineerd']):
        return row['av_CO2']
    else :
        return row['co2_uitstoot_gecombineerd']

In [ ]:
rdw_full['final_CO2'] = rdw_full.apply(CO2_final, axis=1)
rdw_full.head(25)

In [ ]:
rdw_full = rdw_full.rename(columns={'final_CO2':'intermediate_CO2'})

In [ ]:
rdw_full.head(15)

In [ ]:
rdw_full = rdw_full.drop(['co2_uitstoot_gecombineerd', 'av_CO2'], axis=1)

I will repeat the same kind of loop but with a lower level of granularity, to have more chances to fill in the NaNs.

In [ ]:
av_CO2_subset_2 = rdw_full.dropna(axis = 0, subset = ['intermediate_CO2']).copy()
av_CO2_grouped_2 = av_CO2_subset_2.groupby(['reg_year','brandstof_omschrijving', 'merk'], as_index=False).agg({'intermediate_CO2':np.mean})
av_CO2_grouped_2 = av_CO2_grouped_2.rename(columns={'intermediate_CO2':'av_CO2'})
av_CO2_grouped_2

In [ ]:
rdw_full = pd.merge(rdw_full, av_CO2_grouped_2, how = 'left', on=['reg_year','brandstof_omschrijving', 'merk'])
rdw_full.head(25)

In [ ]:
rdw_full.isna().sum()

It worked, we now have a very low number of NaN in our newly created column.I will drop those rows that remain with NaN, as the amount is no longer significant.

In [ ]:
def CO2(row):
    if pd.isna(row['intermediate_CO2']):
        return row['av_CO2']
    else :
        return row['intermediate_CO2']
rdw_full['final_CO2'] = rdw_full.apply(CO2, axis=1)

In [ ]:
rdw_full = rdw_full.drop(['intermediate_CO2', 'av_CO2'], axis=1)

In [ ]:
rdw_full[pd.isna(rdw_full['final_CO2'])]['reg_year'].value_counts()

In [ ]:
rdw_full.isna().sum()

In [ ]:
rdw_full = rdw_full.dropna(axis=0, subset = ['final_CO2'])
rdw_full.isna().sum()

In [ ]:
rdw_full

In [ ]:
rdw_full = rdw_full.drop(['id', 'unnamed:_0', 'reg_year'], axis = 1)

#### Extport data to csv

In [ ]:
rdw_full.to_csv('rdw_full.csv', index=False)

#### Extport data to SQL

In [ ]:
tablename_2 = 'allregistrations'
dbconnection = engine.connect()

try:
    frame = rdw_full.to_sql(tablename_2, dbconnection, if_exists='replace')
except ValueError as vx:
    print(vx)
except Exception as ex:
    print(ex)
else:
    print('Table %s created successfully.'%tablename_2)
finally:
    dbconnection.close()